/* @import url('https://fonts.googleapis.com/css2?family=AzeeBee:wght@300;400;500;600;700&display=swap'); */

/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Dancing+Script&family=Exo:ital,wght@0,100;0,400;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
}

.tit {
    font-family: 'AzeeBee', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: lowercase;
    /* text-shadow: 0.3rem 0.5rem #000; */
}

.icn {
    position: absolute;
    bottom: 35%;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 62.5%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(rgba(0, 0, 0, .35), rgba(0, 0, 0, .45)), url(../images/circle-1-img.jpg) center no-repeat; */
    background: linear-gradient(rgba(0, 0, 0, .35), rgba(0, 0, 0, .45)), url(../images/bg.jpg) center no-repeat;
    background-size: cover;
}

.menu-icon {
    position: fixed;
    top: 3.5rem;
    right: 0;
    width: 12rem;
    height: 7rem;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: opacity .5s;
}

.menu-icon-line {
    width: 4rem;
    height: 0.1rem;
    background-color: #fff;
    margin: 0.5rem 0;
    box-shadow: 0 0.3rem 0.5rem #000;
}

.show-menu-icon {
    opacity: 1;
    visibility: visible;
}

.navbar {
    position: fixed;
    top: 2.5rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 3rem;
    z-index: 100;
    transition: opacity .5s;
    visibility: 0.5s, transform 0.5s;
}

.navbar-link {
    font-family: 'AzeeBee', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    /* text-transform: uppercase; */
    color: #fff;
    margin: 0 2.5rem;
    text-shadow: 0 0.3rem 0.5rem #000;
}

.hide-navbar {
    opacity: 0;
    visibility: hidden;
    transform: translateX(10rem);
}


.fieldset-border {
    position: relative;
    border: 1px groove #ddd !important;
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

.legend-border {
    font-family: 'Azeebee', sans-serif;
    font-size: 2.5em !important;
    text-align: left !important;
    width: auto;
    margin: 25px;
    padding: 0;
    border-bottom: none;
    /* mix-blend-mode: lighten; */
    color: rgb(255, 255, 255);
    letter-spacing: 0.25rem;
    line-height: 1.0;
    /* text-shadow: 0 0 1rem #90a3df; */
}

.circles {
    position: absolute;
    max-width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.circle {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    top: auto;
    left: auto;
    bottom: auto;
    background-color: seashell;
    align-self: center;
    justify-self: center;
    opacity: 0.5;
    position: relative;
    transition: left 2s, top 2s;
}



.circle-21 {
    background: url(../images/projects/portaneir.1.png) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.5rem double #527f8df3;
}

.circle-21:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-22 {
    background: url(../images/projects/dashboard.2..png) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.5rem double #527f8df3;

}

.circle-22:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-23 {
    background: url(../images/projects/concilia.png) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.5rem double #527f8df3;

}

.circle-23:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-24 {
    /* background: url(../images/projects/concilia.png) center no-repeat; */
    background: url(../images/projects/extratoUserede.png) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
}

.circle-24:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}


.circle-31 {
    /* background: url(../images/social-icons/GitHub-Logo.png) center no-repeat; */
    background: url(../images/projects/zabbix.png) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    max-width: 100%;
    display: block;
}

.circle-31:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-32 {
    /* background: url(../images/social-icons/gmail.png) center no-repeat; */
    background: url(../images/projects/grafana.png) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    max-width: 100%;
    display: block;
}

.circle-32:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}


.circle-33 {
    /* background: url(../images/social-icons/telegram-icone-icon.png) center no-repeat; */
    background: url(../images/projects/mapa.1.png) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    max-width: 100%;
    display: block;

}

.circle-33:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-34 {
    /* background: url(../images/social-icons/1whatsapp.png) center no-repeat; */
    background: url(../images/projects/code.png) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    max-width: 100%;
    display: block;

}

.circle-34:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-5 {
    background: url(../images/skills/oop.1.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;
    max-width: 100%;
    display: block;
}

.circle-5:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-6 {
    background: url(../images/skills/javaOO.png) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;
    max-width: 100%;
    display: block;
}

.circle-6:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-7 {
    background: url(../images/skills/dbExpertsPostgreS.png) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-7:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-8 {
    /* background: url(../images/skills/k8.1.jpg) center no-repeat; */
    background: url(../images/skills/freeBSD8.png) center no-repeat;
    background-size: cover;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-8:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-9 {
    background: url(../images/skills/udemyPHP7.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-9:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}


.circle-10 {
    background: url(../images/skills/algaJS.png) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-10:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-11 {
    background: url(../images/skills/algaHtml.png) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-11:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-12 {
    background: url(../images/skills/css.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-12:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-14 {
    background: url(../images/skills/regex.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-14:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-15 {
    background: url(../images/skills/uml.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-15:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-16 {
    background: url(../images/skills/docker.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-16:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-17 {
    background: url(../images/skills/diplomaMack.png) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-17:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-18 {
    background: url(../images/skills/k8.1.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-18:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-19 {
    background: url(../images/skills/phpOOP.png) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-19:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}


.circle-20 {
    background: url(../images/skills/freeBSDOpenIT.png) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-20:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-50 {
    background: url(../images/skills/freeBSDSI.png) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-50:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}


.circle-51 {
    background: url(../images/skills/ccna.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-51:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-52 {
    background: url(../images/skills/ccda.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-52:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-53 {
    background: url(../images/skills/ccnp.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-53:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-54 {
    background: url(../images/skills/ccdp.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-54:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}


.circle-55 {
    background: url(../images/skills/ipv6Br.png) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-55:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-56 {
    background: url(../images/skills/c.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}



.circle-56:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-57 {
    background: url(../images/skills/dsa.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-57:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.circle-58 {
    background: url(../images/skills/mongoDB.jpg) center no-repeat;
    background-size: cover;
    background-clip: content-box;
    border: 0.4rem double #527f8df3;
    margin: auto;

}

.circle-58:hover {
    width: 35rem;
    height: 35rem;
    transition: width 5s, height 5s;
}

.featured-text {
    font-family: 'AzeeBee', sans-serif;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 0;
    word-wrap: break-word;
    line-height: 2.0;
    position: sticky;
    top: 0;

}

.featured-text-1 {
    margin: 0 auto 0 1.5rem;
    text-align: justify;
    text-justify: auto;
}

.featured-text-2 {
    margin: 0 2.5rem 0 auto;
    text-align: justify;
    text-justify: auto;
}

.about-me {
    text-align: justify;
    text-justify: auto;
    margin: 2.5rem;
    font-family: 'Azeebee', sans-serif;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.25rem;
    line-height: 1.0;
    /* text-shadow: 0 0 1rem #90a3df; */
    position: relative;
    /* mix-blend-mode: lighten; */

}

.about-me-note {
    width: 90%;
    margin: auto;
    padding-top: 1rem;
    padding-left: 0;
    text-align: justify;
    text-justify: left;
    font-family: 'AzeeBee', sans serif;
    font-size: 1.0rem;
    color: rgb(0, 0, 255);
    letter-spacing: 0.25rem;
    line-height: 1.0;
    text-shadow: 0 0 1rem #90a3df;
    position: relative;
    /* mix-blend-mode: color-dodge; */
}




.section-2 {
    font-family: 'AzeeBee', sans-serif;
    position: relative;
    /*      padding: 8rem; */
    /* margin: 10rem auto 25rem auto; */
    padding-top: 5rem;
    width: 100%;
    height: 100vh;
    display: block;
}



.section-3 {
    position: relative;
    font-family: 'AzeeBee', sans-serif;
    width: 100%;
    height: 100vh;
    margin: 10rem auto 0 auto;
    /* padding-top: 8rem; */
    /* padding-bottom: 10rem; */
    display: block;
}



.section-4 {
    position: relative;
    margin: 25rem auto 0 auto;
    width: 100%;
    height: 100vh;
    font-family: 'AzeeBee', sans-serif;
    /* padding-bottom: 10rem; */
    padding-top: 25rem;
    display: block;
}

.project {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    background-color: seashell;
    align-self: center;
    justify-self: center;
    opacity: 0.5;
    position: relative;
    transition: left 2s, top 2s;
}

.projects {
    position: absolute;
    top: 5rem;
    bottom: 0;
    left: 0rem;
    width: 100%;
    height: 100vh;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    font-family: 'AzeeBee', sans-serif;
    font-size: 1.25rem;
    font-weight: bolder;
    color: rgb(255,255,255);
    text-align: right;
}

.projetos {
    font-family: 'AzeeBee', sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgb(255,255,255);
    text-align: left
}



.educationals {
    position: absolute;
    top: 5rem;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: 100vh;
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    font-family: 'AzeeBee', sans-serif;
    font-size: 1.35rem;
    font-weight: bolder;
    color: white;
    text-align: right;
}

.educational {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    background-color: seashell;
    align-self: center;
    justify-self: center;
    opacity: 0.5;
    position: relative;
    transition: left 2s, top 2s;
}


.footer {
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    position: fixed;
    /* background: #ffab62; */
    margin-top: auto;
    bottom: 0;
    left: 0;
}

.footer-heading {
    font-family: 'AzeeBee', sans-serif;
    font-size: 2.0rem;
    font-weight: 400;
    color: rgb(0, 0, 255);
    text-align: left;
    margin: auto;
    bottom: 0;
    z-index: 300;
}
.gplus-ic {
    color:rgb(0, 0, 255);
}

@media only screen and (max-width: 600px) {

    .navbar {
        position: fixed;
        top: 1.5rem;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding-right: 1rem;
        z-index: 100;
        transition: opacity .5s;
        visibility: 0.5s, transform 0.5s;
    }
    
    .navbar-link {
        font-family: 'AzeeBee', sans-serif;
        font-size: 1.0rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        margin: 0 2.5rem;
        text-shadow: 0 0.3rem 0.5rem #000;
    }
    
    .hide-navbar {
        opacity: 0;
        visibility: hidden;
        transform: translateX(10rem);
    }

    .gplus-ic {
        color:rgb(255, 255, 255);
    }

    .legend-border {
        font-size: 1.0em;
    }

    .circle {
        width: 10rem;
        height: 10rem;
   
    }

    .circle:hover {
        width: 15rem;
        height: 15rem;
    }

    .section-4 {
        margin: 1rem auto 0 auto;
    }
    .project {
        width: 15rem;
        height: 15rem;
        color:rgb(255, 255, 255);
        font-size: 1.0rem;
        font-weight: bolder;
    }
 
    .educational {
        width: 15rem;
        height: 15rem;
    }

    .educationals {
        top: 5rem;
    }

    .about-me {
        font-size: 2.5rem;
    } 

    .about-me-note {
        color:rgb(255, 255, 255);
    }
    
    .footer-heading {
        color: rgb(255,255,255);
        font-size: 1.75rem;
    }

    .menu-icon {
        position: fixed;
        top: 3.5rem;
        right: 0;
        width: 12rem;
        height: 7rem;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        z-index: 100;
        cursor: pointer;
        transform: translate(-50%, -50%);
        transition: opacity .5s;
    }
    
    .menu-icon-line {
        width: 4rem;
        height: 0.1rem;
        background-color: #fff;
        margin: 0.5rem 0;
        box-shadow: 0 0.3rem 0.5rem #000;
    }
    
    .show-menu-icon {
        opacity: 1;
        visibility: visible;
    }


}

@media only screen and (max-width: 992px) {

    .circle {
        margin: auto;
        width: 15rem;
        height: 15rem;
    }

    .circle:hover {
        width: 25rem;
        height: 25rem;
    }

    .about-me {
        text-align: center;
        text-justify: auto;
        margin: 1.5rem;
        font-family: 'Azeebee', sans-serif;
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
        letter-spacing: 0.25rem;
        line-height: 1.0;
        text-shadow: 0 0 1rem #90a3df;
        position: relative;
        mix-blend-mode: lighten;

    }

}